{% extends 'layout.html' %}
{% block content %}
    <div class="col-6 offset-3">
        <div class="display-6 text-white">
            <h2>{{ result }}<h2>
            <h3>Новый товар</h3>
            <div class="nav-item dropdown">
                {{form.errors}}
                <form method="POST" id="clothes_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    {% for field in form %}
                        {{ field.label }}
                        {% render_field field class="form-control" %}
                    {% endfor %}
                    <button class="mt-2 btn btn-info btn-block" type="submit">Добавить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}