{% extends 'layout.html' %}

{% block content %}
<div class="container">
 <div class="row">
    <div class="col-4" style="border-radius: 15px;">
        <form method="GET">
            {{filter.form.as_p }}
            <button type="submit" class="btn btn-info btn-outline-success border-radius: 15px;">Применить</button>


        
     
        </form>
    </div>
  </div>
</div>
 
    
    <div class="container mt-5">
        <div class="row">
          {% for cloth in clothes %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
              <div class="product">
                <div class="image">
                  <img src="{{cloth.image.url}}" alt="" class="img-fluid">
                </div>
                <div class="info">
                  <h4 class="card-title">
                    <a href="/{{cloth.url}}">{{cloth.name}}</a>
                  </h4>
                  <h4 class="card-brand" style="font-size: 14px;">
                    <a >{{cloth.brand}}</a>
                  </h4>
        
                  <div class="info-price">
                    <li class="price" >{{cloth.price}}</li>
                   
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
{% endblock content %}