{% extends 'layout.html' %}
{% block content %}
    <div class="col-4">
        <form method="GET">
            {{filter.form.as_p }}
            <button type="submit" class="btn btn-info btn-outline-success">Применить</button>
        
     
        </form>
    </div>
    <div class="col-8">
        <div class="row">
            {% for cloth in clothes %}
                <div class="col-12 col-sm-6 col-md-4 my-2">
                    <div class="card">
                        <img class="card-img-top img-fluid w-75" src="/main{{cloth.image.url}}" alt="Card image cap">
                        <div class="card-title">
                            <h5 class="card-title" style="text-align:center" >
                                <a href="/main/{{cloth.url}}">{{cloth.name}}</a>
                            </h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{cloth.brand}}</li>
                            <li class="list-group-item">{{cloth.type}}</li>
                            <li class="list-group-item">{{cloth.price}}</li>
                        </ul>
                        {% comment %} <div class="card-body">
                            <a href="#" class="btn btn-primary card-link">Добавить в корзину</a>
                            <a href="#" class="btn btn-info card-link">Избранное</a>
                        </div> {% endcomment %}
                    </div>
                </div>
            {% endfor %}
        <div>
    <div>
{% endblock content %}