<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/css/main.css?v=1" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/catalog.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'index' %}">MAGAZ</a>
  <button class="navbar-toggler btn btn-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'news' %}">Новости <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sellerbas' %}">Каталог</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'favorite' %}">Избранное</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cart_info' %}">Корзина</a>
      </li>
      {% if request.user.groups.all.0.name == 'Продавец'%}
                      <li class="nav-item">
                        
                        <a class="nav-link" href="{% url 'newclothes' %}">Добавить товар</a>
                      </li> 
                      {%endif%}
     
    </ul>
    
    <form class="form-inline my-2 my-lg-0 align-self-center" action="" method="GET">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q">
      <button class="btn btn-outline-primary my-2 my-sm-0 " type="submit">Поиск</button>
    </form> 

  

    <div class="text-end" style="text-align: right">
      {% if user.is_authenticated %}
        <p class="text-light" >Вы вошли как {{ user.username }}.</p>
        <a type="button" href="{% url 'logout' %}" class="btn btn-outline-danger me-2">Выйти</a>
      {% else %}
        <p class="text-light">Вы не вошли в систему.</p>
        <a type="button" href="{% url 'login' %}" class="btn btn-outline-danger me-2">Войти</a>
      {% endif %}
    </div>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.1.1.min.js">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<body>
<div class='container'>
  <div class="row">
    {% block content %}
    {% endblock %}
  </div>
</div>

</body>



{% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/css/main.css?v=1" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <a class="navbar-brand" href="{% url 'index' %}">MAGAZ</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarCollapse" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Новости</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">О нас</a>
      </li>
    </ul> {% endcomment %}
    {% comment %} {% if request.user.groups.all.0.name == 'customer'%}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'basket' %}">Корзина</a>
                      </li>
                      
                      
                      {%endif%}
    {% if request.user.groups.all.0.name == 'seller'%}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'sellerbas' %}">Продажа</a>
                        <a class="nav-link" href="{% url 'newclothes' %}">Добавить товар</a>
                      </li> {% endcomment %}
    {% comment %} {% if user.is_authenticated %}
            <p>Вы вошли в систему как {{ user.username }}.</p>
            <a type="button" href='{% url 'logout' %}' class="btn btn-outline-light me-2">Выйти</a>
          {% else %}
            <p>Вы не вошли в систему.</p>
            <a type="button" href='{% url 'login' %}' class="btn btn-outline-light me-2">Войти</a>
          {% endif %}
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>  {% endcomment %}

{% comment %} <header class="p-3 text-bg-primary">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
        <h3>
            <a class="navbar-brand" href="{% url 'index' %}">MAGAZ</a>
        </h3>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="" class="nav-link px-2 text-dark">Новости</a></li>
          <li><a href="" class="nav-link px-2 text-white">О нас</a></li>
          
        </ul>
        {% if request.user.groups.all.0.name == 'customer'%}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'basket' %}">Корзина</a>
                      </li>
                      
                      
                      {%endif%}
         {% if request.user.groups.all.0.name == 'seller'%}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'sellerbas' %}">Продажа</a>
                        <a class="nav-link" href="{% url 'newclothes' %}">Добавить товар</a>
                      </li>
                      
                      
                      {%endif%}
        <div class="text-end">
          {% if user.is_authenticated %}
            <p>Вы вошли в систему как {{ user.username }}.</p>
            <a type="button" href='{% url 'logout' %}' class="btn btn-outline-light me-2">Выйти</a>
          {% else %}
            <p>Вы не вошли в систему.</p>
            <a type="button" href='{% url 'login' %}' class="btn btn-outline-light me-2">Войти</a>
          {% endif %}
          

        </div>
      </div>
    </div>
  </header> {% endcomment %}


{% comment %} {% block content %}
{% endblock content %} {% endcomment %}

