
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/css/main.css?v=1" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<header class="p-3 text-bg-primary">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
        <h3>
            <a class="navbar-brand" href="{% url 'index' %}">MAGAZ</a>
        </h3>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="" class="nav-link px-2 text-dark">Новости</a></li>
          <li><a href="" class="nav-link px-2 text-white">О нас</a></li>
          
        </ul>
        {% if request.user.groups.all.0.name == 'customer'%}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'basket' %}">Корзина</a>
                      </li>
                      
                      
                      {%endif%}
         {% if request.user.groups.all.0.name == 'seller'%}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'sellerbas' %}">Продажа</a>
                        <a class="nav-link" href="{% url 'newclothes' %}">Добавить товар</a>
                      </li>
                      
                      
                      {%endif%}
        <div class="text-end">
          {% if user.is_authenticated %}
            <p>Вы вошли в систему как {{ user.username }}.</p>
            <a type="button" href='{% url 'logout' %}' class="btn btn-outline-light me-2">Выйти</a>
          {% else %}
            <p>Вы не вошли в систему.</p>
            <a type="button" href='{% url 'login' %}' class="btn btn-outline-light me-2">Войти</a>
          {% endif %}
          

        </div>
      </div>
    </div>
  </header>


{% block content %}
{% endblock content %}

