{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block content %}
<section class="h-100 h-custom">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="h5">Favorite</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for cloth in clothes %}
                  <tr>
                    <th scope="row">
                        <div class="d-flex align-items-beetwen">
                          <img src="/myapp{{item.cloth.image.url}}" class="img-fluid rounded-3"
                              style="width: 120px;" alt="Cloth">
                          <div class="flex-column ms-4">
                              <p class="mb-2">{{item.cloth.name}}</p>
                          </div>
                        </div>
                    </th>
                    <td class='align-middle'>
                      <div class='d-flex flex-row'>
                        <button class="btn btn-link px-2">
                          <a href="{% url 'favorite_remove' id=item.id %}">
                          <i class="fas fa-trash"></i>
                        </button>
                      </div>
                  </td>
                  </tr>
                {% endfor %}

    <script src="/static/js/favorite.js"></script>
{%endblock%}