{% extends 'layout.html' %}


{% comment %} {% include "layout.html" %} {% endcomment %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselIndicators" data-slide-to="1"></li>
    <li data-target="#carouselIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
          <div class="row p-5">
              <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                  <img class="img-fluid" src="media/img/banner1.png" alt="First">
              </div>
              <div class="col-lg-6 mb-0 d-flex align-items-center">
                  <div class="text-align-left align-self-center">
                      <h1 class="h1 text-success">MAGAZ</h1>
                      <h3 class="h2">Только ЛУЧШИЕ товары</h3>
                     
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
          <div class="row p-5">
              <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                  <img class="img-fluid" src="media/img/banner2.png" alt="Second">
              </div>
              <div class="col-lg-6 mb-0 d-flex align-items-center">
                  <div class="text-align-left">
                      <h1 class="h1 text-success">СКИДКИ на Верхнюю одежду</h1>
                      <h3 class="h2">Успейте купить</h3>
                      
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
          <div class="row p-5">
              <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                  <img class="img-fluid" src="mysite/media/img/banner3.png" alt="Third">
              </div>
              <div class="col-lg-6 mb-0 d-flex align-items-center">
                  <div class="text-align-left">
                      <h1 class="h1 text-success">Магазин одежды</h1>
                      <h3 class="h2">Покупайте у нас</h3>
                     
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>  
{% comment %} <div class="container">
  <div class="display-6 text-black">Товары:
    <form method ="GET" action="{% url 'index' %}">
      {{form.as_p}}
      <input type="submit" value="Поиск" class="btn btn-outline-dark btn-primary" />
      
      <table class="table">
        <thead>
        <tr>
          <th>Name</th> 
          <th>Brand</th> 
          <th>Type</th> 
          <th>Price</th>     
        </tr>
        </thead>    
       <tbody>
        {% for cloth in clothes %}
            <tr>
              <td>{{ cloth.name }}</td>
              <td>{{ cloth.brand.name }}</td>
              <td>{{ cloth.type.name }}</td>
              <td>{{ cloth.price }}</td>
        {% endfor %}
       </tbody>
      </table>  {% endcomment %}

<div class="container mt-5">
  <div class="row">
    {% for cloth in clothes %}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <div class="product">
          <div class="image">
            <img src="/main{{cloth.image.url}}" alt="" class="img-fluid">
          </div>
          <div class="info">
            <h4 class="card-title">
              <a href="/main/{{cloth.url}}">{{cloth.name}}</a>
            </h4>
            <h4 class="card-brand" style="font-size: 14px;">
              <a >{{cloth.brand}}</a>
            </h4>
  
            <div class="info-price">
              <li class="price" id="price{{cloth.id}}">{{cloth.price}}</li>
             
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% comment %} <div class="container">
    <div class="col-lg-9">
      <div class="row">
        {% for cloth in clothes %}
        <div class="col-lg-4 col-md-4 mb-4">
          <div class="card h-100">
            <a href="#">
                <img class="card-img-top"
                     src="/main{{cloth.image.url}}"
                     alt="">
            </a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="/main/{{cloth.url}}">{{cloth.name}}</a>
                </h4>
                
                <p class="card-text">{{cloth.brand}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>  
</div> {% endcomment %}


{% endblock content %}

