{% extends 'layout.html' %}


{% comment %} {% include "layout.html" %} {% endcomment %}

{% block content %}

<div class="container">
  <div class="display-6 text-white">Товары:
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle show text-white" href="#" data-bs-toggle="dropdown" aria-expanded="true">Каталог</a>
      <ul class="dropdown-menu show" data-bs-popper="static">
          {% for city in citys %}
           
            <li><a class="dropdown-item" href="#">{{ city }}</a></li>
          {% endfor %}
      </ul>
    </div> 
  </div>



<div class="col-lg-9">
  <div class="row">
    {% for cinema in cinemas %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#">
                <img class="card-img-top"
                     src="/main{{cinema.image.url}}"
                     alt="">
            </a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">{{cinema.cinema}}</a>
                </h4>
                <h5>{{cinema.city}}</h5>
                <p class="card-text">{{cinema.address}}</p>
            </div>
            {% comment %} <div class="card-footer text-center">
                <button type="button" class="btn btn-outline-success">Отправить в корзину</button>
            </div> {% endcomment %}
        </div>
    </div>
    
    {% endfor %}
</div>
</div>


    {% comment %} <div class="block2">
        {% for city in citys %}
            <h2>Город: {{ city }}</h2>
        {% endfor %}
    </div>
</body>  {% endcomment %}
{% endblock content %}

